@import "variables";
@import "mixins";

%btn {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    transition: color 0.3s;
    transition: background 0.3s;
}
%btn-style {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.link {
    display: inline-block;
    @extend %btn-style;
    color: $black;
    margin-right: 30px;

    &::after {
        content: "";
        display: block;
        margin: 8px auto 0 auto;
        width: 22px;
        height: 3px;
        background: inherit;
    }

    &:hover::after {
        background: $black;
    }
}
.btn {
    @extend %btn;
    @extend %btn-style;
    text-align: center;
    width: 150px;
    padding: 13px 0;
    border: 1px solid $pink;
    border-radius: 50px;
    @include btn-hover($white, $pink);

    &--wide {
        border-radius: 10px;
        width: 250px;
        padding: 18px 0;
    }
    &--red {
        @include btn-hover($white, $red);
    }
    &--narrow {
        width: 60px;
        height: 60px;
        margin-left: 5px;

        @media screen and (min-width: $desktop) {
            margin-left: 20px;
        }
    }
    &--left {
        background: url("../design/hover-arrow-left.svg") center center no-repeat;

        &:hover {
            background: $red url("../design/arrow-left.svg") center center no-repeat;
        }
    }
    &--right {
        background: url("../design/hover-arrow-right.svg") center center no-repeat;
        &:hover {
            background: $red url("../design/arrow-right.svg") center center no-repeat;
        }
    }
}

.pagination-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    @media screen and (min-width: $desktop) {
        margin: 0;
    }

    &__btn {
        @extend %btn-style;
        background: #DDE0E4;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 15px;

        &:hover {
            background: $red;
        }

        &--wide {
            width: 47px;
            border-radius: 8px;
        }
    }
}