.title {
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    color: $black;
    margin: 0 0 15px;

    @media screen and (min-width: $tablet-landscape) {
        font-size: 50px;
        line-height: 70px;
    }

    &--level2 {
        font-size: 25px;
        line-height: 40px;
        margin: 0 0 20px;

        @media screen and (min-width: $tablet-landscape) {
            font-size: 35px;
            line-height: 50px;
        }
    }

    &--level3 {
        font-size: 20px;
        line-height: 30px;
        margin: 0 0 20px;

        @media screen and (min-width: $tablet-landscape) {
            font-size: 25px;
            line-height: 30px;
        }
    }
    
}

@import "promo";
@import "grid";