@import "variables";

.footer-wrap {
    background: linear-gradient(to bottom, $lightgray, $white);
    padding: 180px 0 0 0;
    margin: -120px 0 0 0;
}
.footer {
    display: grid;
    grid-gap: 15px;

    &__item {
        padding: 30px;

        &--text {
            margin: 10px 0 35px;
        }   
    }

    @media screen and (min-width: $tablet) {
        grid-template-columns: 1fr 1fr;

        &__item {
            padding: 50px;
        }
    }
    @media screen and (min-width: $tablet-landscape) {
        grid-template-columns: 2.5fr 1fr 1fr 1fr;
        &__item:nth-child(2) {
            padding: 3px 0 0 56px;
        }
        &__item:nth-child(3) {
            padding: 3px 0 0 44px;
        }
        &__item:nth-child(4) {
            padding: 3px 0 0 77px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: $black;
        margin: 0 0 20px;
    }    
}

.social-group {
    margin: 0 0 15px;

    &__link {
        display: inline-block;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin-right: 18px;

        &--facebook {
            background: $red url("../design/facebook.svg") center center no-repeat;
        }
        &--twitter {
            background: $red url("../design/twitter.svg") center center no-repeat;
        }
        &--instagram {
            background: $red url("../design/instagram.svg") center center no-repeat;
        }

        &:hover {
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
            opacity: 0.5;
        }
    }
}
.text {
    color: #AFB5C0;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        margin: 0 0 10px;

        &--link {
            color: inherit;

            &:hover {
                color: $red;
            }
        }
    }
    
}