@import "btn";

%list-style {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}
%text-wrap {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.features-grid {
    display: grid;
    margin: 0 0 11%;

    @media screen and (min-width: $tablet) {
        grid-template-columns: 50% 50%;
    }
    @media screen and (min-width: $desktop) {
        grid-gap: 25px;
        grid-template-columns: 60% 38%;
    }

    &__item--text {
        margin: 0 0 25px;
    }

    &__item--picture {
        width: 100%;
        height: auto; 

        @media screen and (min-width: $desktop) {
            width: auto;
            height: auto;
            margin-left: 34px;
        }
    }

    &__item:last-child {
        padding-top: 57px;
    }

    &__list {
        @extend %list-style;

        &--item {
            padding-left: 5px;
            margin: 0 0 15px;
            
            &::before {
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url("../design/ic-list.svg") center center no-repeat;
                margin-right: 10px;
            }
        }
    }
}

.plan-grid {
    padding: 60px 0 0 0;
    display: grid;
    grid-gap: 50px;
    grid-template-rows: 1fr 600px;
    margin: 0 0 13.2%;

    @media screen and (min-width: $tablet-landscape) {
        padding: 60px 25px 0 25px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 760px;
    }

    &--text {
        margin: 0 0 15px;
    }
    &__list {
        @extend %list-style;
        margin: 0 0 auto;

        &--item {
            padding-left: 5px;
            margin: 0 0 11px;
            
            &::before {
                content: "";
                display: inline-block;
                width: 15px;
                height: 10px;
                background: url("../design/ic-list2.svg") center center no-repeat;
                margin-right: 20px;
            }
        }
    }

    &__item {
        border: 2px solid #DDDDDD;
        border-radius: 10px;

        &:hover {
            border: 2px solid #F53838;
        }

        &:first-child {
            border: none;
            text-align: center;

            @media screen and (min-width: $tablet-landscape) {
                grid-column: 1/4;
            }
        }
        
        &--text-wrap {
            @extend %text-wrap;
        }
        &--flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            padding: 30px 0;

            @media screen and (min-width: $tablet-landscape) {
                padding: 74px 0 50px;
            }
        }
        &--picture {
            margin: 0 0 30px;
        }
        &--text {
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            color: $black;
            margin: 0 0 30px;
        }
    }
}
.normal-text {
    font-weight: normal;
    color: inherit;
}

.vpn-grid {
    display: grid;
    margin: 0 0 7.9%;

    &__item {

        &--text-wrap {
            @extend %text-wrap;
        }
        &:nth-child(1) {
            margin: 0 0 138px;
        }
        &:nth-child(2) {
            margin: 0 0 30px;
        }
        &:nth-child(3) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            @media screen and (min-width: $tablet) {
                justify-content: space-between;
            }
        }
        &--picture {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }
        &--link {
            margin-right: 10px;

            @media screen and (min-width: $tablet) {
                margin: 0;
            }
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.customer-grid {
    display: grid;
    grid-gap: 50px;
    margin: 0 0 50px;

    @media screen and (min-width: $tablet) {
        margin: 0 0 7.6%;
    }

    &__item--text-wrap {
        @extend %text-wrap;
    }

    &__item--btn-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.comment_grid {
    display: grid;
    grid-gap: 50px;
    grid-template-rows: 270px;
    margin: 0 0 58px;

    @media screen and (min-width: $desktop) {
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: 230px;
    }

    &__item {
        padding: 30px;
        border: 2px solid #DDDDDD;
        border-radius: 10px;      

        &:hover {
            border: 2px solid #F53838;
            box-shadow: 0 19px 40px -10px rgba(0, 0, 0, 0.5);
        }
    }
}

.acount {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__avatar {
        margin-right: 18px;

        &:hover {
            opacity: 0.5;
        }
    }
    &__text-wrap {
        margin-right: auto;
    }
    &__name {
        font-weight: 500;
        font-size: 18px;
        line-height: 10px;
        color: $black;
        margin: 0 0 5px;
    }
    &__location {
        font-size: 14px;
        margin: 0;
    }
    &__rating {
        font-size: 16px;
        line-height: 30px;
        color: $black;

        &::after {
            content: "";
            display: inline-block;
            width: 13px;
            height: 13px;
            background: url("../design/ic-star.svg") center center no-repeat;
            margin-left: 12px;
        }
    }
}
.comment {
    margin: 0;
}

.subscribe-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px 6.2%;
    margin-top: -60px;
    box-shadow: 0 19px 40px -10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 999;

    &--text {
        margin: -15px 0 0 0;
    }
}