.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    @media screen and (min-width: $tablet-landscape) {
        padding: 45px 0;
    }
}

@import "logo";
@import "menu";
@import "btn";