.menu {
    margin: 15px auto;
    flex-basis: 100%;
    order: 999;

    @media screen and (min-width: $tablet-landscape) {
        margin: 0 auto;
        order: inherit;
        flex-basis: auto;
    }

    &__item {
        margin-right: 20px;
        color: inherit;

        &:last-child {
            margin: 0;
        }

        &:hover {
            color: $red;
        }
    }
}