@mixin btn-hover($background, $color) {
    background: $background;
    color: $color;
    &:hover,
    &:active {
        box-shadow: 0px 20px 25px -10px rgba(245, 56, 56, 0.5);
        background: $color;
        color: $background;
    }
}