.promo-wrap {
    background: url("../design/img-promo.png") 90% 70% no-repeat;
    background-size: 50%;

    @media screen and (min-width: $tablet-landscape) {
        background: url("../design/img-promo.png") 90% 50% no-repeat;
        background-size: auto;
    }
}

.text-wrap {
    padding: 75px 0;

    @media screen and (min-width: $tablet-landscape) {
        width: 49%;
    }

    &--text {
        margin: 0 0 150px;

        @media screen and (min-width: $tablet-landscape) {
            margin: 0 0 55px;
        }
    }
}