$iphone: 320px;
$tablet: 600px;
$tablet-landscape: 900px;
$desktop: 1140px;
$fon-family: 'Rubik', sans-serif;
$gray: #4F5665;
$pink: #F53855;
$white: #fff;
$black: #0B132A;
$red: #F53838;
$lightgray: #F8F8F8;