@import "variables";
@import "normalize";

body {
    font-family: $fon-family;
    color: $gray;
    font-size: 16px;
    line-height: 30px;
}

a {
    text-decoration: none;
    outline: none;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: $desktop) {
        padding: 0;
    }
}

@import "header";
@import "content";
@import "footer";