/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: "Rubik", sans-serif;
  color: #4F5665;
  font-size: 16px;
  line-height: 30px;
}

a {
  text-decoration: none;
  outline: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 1140px) {
  .container {
    padding: 0;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
@media screen and (min-width: 900px) {
  .header {
    padding: 45px 0;
  }
}

.logo:hover {
  opacity: 0.5;
}

.menu {
  margin: 15px auto;
  flex-basis: 100%;
  order: 999;
}
@media screen and (min-width: 900px) {
  .menu {
    margin: 0 auto;
    order: inherit;
    flex-basis: auto;
  }
}
.menu__item {
  margin-right: 20px;
  color: inherit;
}
.menu__item:last-child {
  margin: 0;
}
.menu__item:hover {
  color: #F53838;
}

.btn {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  transition: color 0.3s;
  transition: background 0.3s;
}

.pagination-group__btn, .btn, .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.link {
  display: inline-block;
  color: #0B132A;
  margin-right: 30px;
}
.link::after {
  content: "";
  display: block;
  margin: 8px auto 0 auto;
  width: 22px;
  height: 3px;
  background: inherit;
}
.link:hover::after {
  background: #0B132A;
}

.btn {
  text-align: center;
  width: 150px;
  padding: 13px 0;
  border: 1px solid #F53855;
  border-radius: 50px;
  background: #fff;
  color: #F53855;
}
.btn:hover, .btn:active {
  box-shadow: 0px 20px 25px -10px rgba(245, 56, 56, 0.5);
  background: #F53855;
  color: #fff;
}
.btn--wide {
  border-radius: 10px;
  width: 250px;
  padding: 18px 0;
}
.btn--red {
  background: #fff;
  color: #F53838;
}
.btn--red:hover, .btn--red:active {
  box-shadow: 0px 20px 25px -10px rgba(245, 56, 56, 0.5);
  background: #F53838;
  color: #fff;
}
.btn--narrow {
  width: 60px;
  height: 60px;
  margin-left: 5px;
}
@media screen and (min-width: 1140px) {
  .btn--narrow {
    margin-left: 20px;
  }
}
.btn--left {
  background: url("../design/hover-arrow-left.svg") center center no-repeat;
}
.btn--left:hover {
  background: #F53838 url("../design/arrow-left.svg") center center no-repeat;
}
.btn--right {
  background: url("../design/hover-arrow-right.svg") center center no-repeat;
}
.btn--right:hover {
  background: #F53838 url("../design/arrow-right.svg") center center no-repeat;
}

.pagination-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
@media screen and (min-width: 1140px) {
  .pagination-group {
    margin: 0;
  }
}
.pagination-group__btn {
  background: #DDE0E4;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 15px;
}
.pagination-group__btn:hover {
  background: #F53838;
}
.pagination-group__btn--wide {
  width: 47px;
  border-radius: 8px;
}

.title {
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  color: #0B132A;
  margin: 0 0 15px;
}
@media screen and (min-width: 900px) {
  .title {
    font-size: 50px;
    line-height: 70px;
  }
}
.title--level2 {
  font-size: 25px;
  line-height: 40px;
  margin: 0 0 20px;
}
@media screen and (min-width: 900px) {
  .title--level2 {
    font-size: 35px;
    line-height: 50px;
  }
}
.title--level3 {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 20px;
}
@media screen and (min-width: 900px) {
  .title--level3 {
    font-size: 25px;
    line-height: 30px;
  }
}

.promo-wrap {
  background: url("../design/img-promo.png") 90% 70% no-repeat;
  background-size: 50%;
}
@media screen and (min-width: 900px) {
  .promo-wrap {
    background: url("../design/img-promo.png") 90% 50% no-repeat;
    background-size: auto;
  }
}

.text-wrap {
  padding: 75px 0;
}
@media screen and (min-width: 900px) {
  .text-wrap {
    width: 49%;
  }
}
.text-wrap--text {
  margin: 0 0 150px;
}
@media screen and (min-width: 900px) {
  .text-wrap--text {
    margin: 0 0 55px;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  transition: color 0.3s;
  transition: background 0.3s;
}

.link, .btn, .pagination-group__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.link {
  display: inline-block;
  color: #0B132A;
  margin-right: 30px;
}
.link::after {
  content: "";
  display: block;
  margin: 8px auto 0 auto;
  width: 22px;
  height: 3px;
  background: inherit;
}
.link:hover::after {
  background: #0B132A;
}

.btn {
  text-align: center;
  width: 150px;
  padding: 13px 0;
  border: 1px solid #F53855;
  border-radius: 50px;
  background: #fff;
  color: #F53855;
}
.btn:hover, .btn:active {
  box-shadow: 0px 20px 25px -10px rgba(245, 56, 56, 0.5);
  background: #F53855;
  color: #fff;
}
.btn--wide {
  border-radius: 10px;
  width: 250px;
  padding: 18px 0;
}
.btn--red {
  background: #fff;
  color: #F53838;
}
.btn--red:hover, .btn--red:active {
  box-shadow: 0px 20px 25px -10px rgba(245, 56, 56, 0.5);
  background: #F53838;
  color: #fff;
}
.btn--narrow {
  width: 60px;
  height: 60px;
  margin-left: 5px;
}
@media screen and (min-width: 1140px) {
  .btn--narrow {
    margin-left: 20px;
  }
}
.btn--left {
  background: url("../design/hover-arrow-left.svg") center center no-repeat;
}
.btn--left:hover {
  background: #F53838 url("../design/arrow-left.svg") center center no-repeat;
}
.btn--right {
  background: url("../design/hover-arrow-right.svg") center center no-repeat;
}
.btn--right:hover {
  background: #F53838 url("../design/arrow-right.svg") center center no-repeat;
}

.pagination-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
@media screen and (min-width: 1140px) {
  .pagination-group {
    margin: 0;
  }
}
.pagination-group__btn {
  background: #DDE0E4;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 15px;
}
.pagination-group__btn:hover {
  background: #F53838;
}
.pagination-group__btn--wide {
  width: 47px;
  border-radius: 8px;
}

.plan-grid__list, .features-grid__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.customer-grid__item--text-wrap, .vpn-grid__item--text-wrap, .plan-grid__item--text-wrap {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.features-grid {
  display: grid;
  margin: 0 0 11%;
}
@media screen and (min-width: 600px) {
  .features-grid {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (min-width: 1140px) {
  .features-grid {
    grid-gap: 25px;
    grid-template-columns: 60% 38%;
  }
}
.features-grid__item--text {
  margin: 0 0 25px;
}
.features-grid__item--picture {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1140px) {
  .features-grid__item--picture {
    width: auto;
    height: auto;
    margin-left: 34px;
  }
}
.features-grid__item:last-child {
  padding-top: 57px;
}
.features-grid__list--item {
  padding-left: 5px;
  margin: 0 0 15px;
}
.features-grid__list--item::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../design/ic-list.svg") center center no-repeat;
  margin-right: 10px;
}

.plan-grid {
  padding: 60px 0 0 0;
  display: grid;
  grid-gap: 50px;
  grid-template-rows: 1fr 600px;
  margin: 0 0 13.2%;
}
@media screen and (min-width: 900px) {
  .plan-grid {
    padding: 60px 25px 0 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 760px;
  }
}
.plan-grid--text {
  margin: 0 0 15px;
}
.plan-grid__list {
  margin: 0 0 auto;
}
.plan-grid__list--item {
  padding-left: 5px;
  margin: 0 0 11px;
}
.plan-grid__list--item::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 10px;
  background: url("../design/ic-list2.svg") center center no-repeat;
  margin-right: 20px;
}
.plan-grid__item {
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}
.plan-grid__item:hover {
  border: 2px solid #F53838;
}
.plan-grid__item:first-child {
  border: none;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .plan-grid__item:first-child {
    grid-column: 1/4;
  }
}
.plan-grid__item--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 30px 0;
}
@media screen and (min-width: 900px) {
  .plan-grid__item--flex {
    padding: 74px 0 50px;
  }
}
.plan-grid__item--picture {
  margin: 0 0 30px;
}
.plan-grid__item--text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
  margin: 0 0 30px;
}

.normal-text {
  font-weight: normal;
  color: inherit;
}

.vpn-grid {
  display: grid;
  margin: 0 0 7.9%;
}
.vpn-grid__item:nth-child(1) {
  margin: 0 0 138px;
}
.vpn-grid__item:nth-child(2) {
  margin: 0 0 30px;
}
.vpn-grid__item:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .vpn-grid__item:nth-child(3) {
    justify-content: space-between;
  }
}
.vpn-grid__item--picture {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.vpn-grid__item--link {
  margin-right: 10px;
}
@media screen and (min-width: 600px) {
  .vpn-grid__item--link {
    margin: 0;
  }
}
.vpn-grid__item--link:hover {
  opacity: 0.5;
}

.customer-grid {
  display: grid;
  grid-gap: 50px;
  margin: 0 0 50px;
}
@media screen and (min-width: 600px) {
  .customer-grid {
    margin: 0 0 7.6%;
  }
}
.customer-grid__item--btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.comment_grid {
  display: grid;
  grid-gap: 50px;
  grid-template-rows: 270px;
  margin: 0 0 58px;
}
@media screen and (min-width: 1140px) {
  .comment_grid {
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 230px;
  }
}
.comment_grid__item {
  padding: 30px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}
.comment_grid__item:hover {
  border: 2px solid #F53838;
  box-shadow: 0 19px 40px -10px rgba(0, 0, 0, 0.5);
}

.acount {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.acount__avatar {
  margin-right: 18px;
}
.acount__avatar:hover {
  opacity: 0.5;
}
.acount__text-wrap {
  margin-right: auto;
}
.acount__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 10px;
  color: #0B132A;
  margin: 0 0 5px;
}
.acount__location {
  font-size: 14px;
  margin: 0;
}
.acount__rating {
  font-size: 16px;
  line-height: 30px;
  color: #0B132A;
}
.acount__rating::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url("../design/ic-star.svg") center center no-repeat;
  margin-left: 12px;
}

.comment {
  margin: 0;
}

.subscribe-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 60px 6.2%;
  margin-top: -60px;
  box-shadow: 0 19px 40px -10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 999;
}
.subscribe-block--text {
  margin: -15px 0 0 0;
}

.footer-wrap {
  background: linear-gradient(to bottom, #F8F8F8, #fff);
  padding: 180px 0 0 0;
  margin: -120px 0 0 0;
}

.footer {
  display: grid;
  grid-gap: 15px;
}
.footer__item {
  padding: 30px;
}
.footer__item--text {
  margin: 10px 0 35px;
}
@media screen and (min-width: 600px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .footer__item {
    padding: 50px;
  }
}
@media screen and (min-width: 900px) {
  .footer {
    grid-template-columns: 2.5fr 1fr 1fr 1fr;
  }
  .footer__item:nth-child(2) {
    padding: 3px 0 0 56px;
  }
  .footer__item:nth-child(3) {
    padding: 3px 0 0 44px;
  }
  .footer__item:nth-child(4) {
    padding: 3px 0 0 77px;
  }
}
.footer__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
  margin: 0 0 20px;
}

.social-group {
  margin: 0 0 15px;
}
.social-group__link {
  display: inline-block;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 18px;
}
.social-group__link--facebook {
  background: #F53838 url("../design/facebook.svg") center center no-repeat;
}
.social-group__link--twitter {
  background: #F53838 url("../design/twitter.svg") center center no-repeat;
}
.social-group__link--instagram {
  background: #F53838 url("../design/instagram.svg") center center no-repeat;
}
.social-group__link:hover {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.text {
  color: #AFB5C0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list__item {
  margin: 0 0 10px;
}
.list__item--link {
  color: inherit;
}
.list__item--link:hover {
  color: #F53838;
}

/*# sourceMappingURL=styles.css.map */
